# Dependencies
node_modules/

# Build output
frontend/dist/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/

# Misc
*.tgz
.cache

# OAuth
client_secret_15875098947-v3ki4761r0f9d2co11f1kef87oj0ocar.apps.googleusercontent.com.json